* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

//2. variable
$bg-color: #10ac84;

//4.mixin
@mixin flexprobs($par1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: $par1;
    // align-content: center;
}

@mixin text {
    color: #222f3e;
    letter-spacing: 0.3rem;
    //1. operators
    font-size: 15rem - 10rem;
    text-transform: capitalize;
}

.main_header {
    @include flexprobs;
    width: 100vw;
    height: 100vh;
    background: $bg-color;

    h1 {
        //parameter
        @include text(1.5rem);

        &:hover {
            color: #c8d6e5;
        }

        //3.nesting
        &::after {
            content: "Channel"
        }
    }

    p {
        @include text(0.5rem);

        &:hover {
            color: #c8d6e5;
        }
    }
}